body.ouioui{
    margin: auto;
    text-align: center;
    background-image: url("/Images/skybackground.jfif");
    background-repeat: repeat;
    background-size: 100%;
    color: gold;
}

.yes{
    list-style-type: none;
    color: gold;
    
    padding: 7%;
    margin: 4%;
    background: rgba(0, 0, 0, .6);
    font-size: 250%;
    
   
} 
body.ye{
    margin: auto;
    text-align: center;
    background-image: url("/Images/talentbackground.jfif");
    background-repeat: repeat;
    background-size: 100%;
    color: gold;
}

body.indeed{
    background: darkblue;
    color: darkgoldenrod;
    text-align: center;
}

body.poor{
    background: black;
    text-align: center;
    color: whitesmoke;
}
a:visited{
        color: goldenrod;
    }

a:hover{
        color: mediumaquamarine;
    }

body.ye{
    text-align: center;
   
}
.yeees{
    list-style-type: none;
    color: gold;
    text-align: center;
    padding: 7%;
    margin: 4%;
    background: rgba(20, 40, 40, .6);
    font-size: 250%;
    
}